body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    background: #757575;
}

#main-container {
    width: 80%;
    margin: auto;
    background: #DBF0FF;
    padding: 20px;
    border-radius: 10px;
}

.navbar {
    background-color: #757575;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 10px; /* Add spacing between nav links */
}

.nav-link {
    color: white !important; /* White text for better visibility */
    text-decoration: none;
    padding: 10px 15px;
    white-space: nowrap; /* Prevents text wrapping into two lines */
}

.btn{
    background-color: #757575;
    color: white !important; /* White text for better visibility */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #757575;
}